recursive-include src gxiso.py gxiso.png gxiso.glade gxiso.gladep
recursive-include po *.po update.sh
include gxiso.desktop.in MANIFEST.in
include ChangeLog
include setup.py setup.cfg
include README LICENSE TODO NEWS
